*{
    margin: 0px;
}

html{
    height: 100%;
    background-image: linear-gradient( #0046ae, #9198e5);
}

.bigpart{
    height: 400px;
    width: 270px;
    background-image: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    box-shadow: 3px 3px 30px 3px #151719;
    border-radius: 15px;
    margin: 150px 20px 20px 600px;
    text-align: center;
}

.bigpart:hover{
    background-image: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
    transition: 0.5s;
}


.musicplayer{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 3px 3px 3px dimgrey;
    padding-top: 10px;
}

.song{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 3px 3px 3px #151719;
}


.songwriters{
    color: #666666;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px #080808;
}

.songwriters:hover{
    color: #2e2e2e;
    transition: 0.5s;
}
img{
    width: 220px;
    height: 220px;
    margin-top: 10px;
    border-radius: 10px;
}
img:hover{
    box-shadow: 2px 2px 10px 2px #151719;
    transition: 0.5s;
}

.play,
.back,
.for{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 25px;
}


.back,
.for,
.play:hover{
    border-color: #bebebe;
}

.zaman{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    width: 250px;
}
li{
    display: inline;
}